@font-face {
    font-family: 'Brown Sugar';
    src: url('BrownSugar.woff2') format('woff2'),
        url('BrownSugar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

