body{
    background-color: rgb(243, 243, 243); 
}

/*Fonts*/
.funnel-sans-heading {
    font-family: "Funnel Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
@font-face {
  font-family: 'Brown Sugar';
  src: url('BrownSugar.woff2') format('woff2'),
  url('fonts/BrownSugar-.eot');
    src: url('fonts/BrownSugar-.eot?#iefix') format('embedded-opentype'),
      url('BrownSugar.woff') format('woff'),
      url('../fonts/Brown-Sugar/BrownSugar .ttf'),
      url('fonts/BrownSugar-.svg#Brown Sugar') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/*Rows*/
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 4px;
    background-color: #e7e5e5;
    box-shadow: 8px 8px grey;
    border-radius: 10px;
    width: 40%;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-left: 29.5%;
}
.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 60%;
    padding: 0 4px;
    margin-left: auto;
    margin-right: auto;
}
.column img {
  flex-shrink: 1;
}
.menurow {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 4px;
  text-align: center;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 10%;
}
.menu-box{
  background-color: rgb(177, 177, 177);
  width: 20%;
  border-radius: 20px;
}
.menu-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 5%;
}
.ThreeDrow {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: #e7e5e5;
  box-shadow: 8px 8px grey;
  border-radius: 10px;
  width: 40%;
  padding-top: 2%;
  padding-bottom: 1%;
  margin-left: 29.5%;
}
.rowsocials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  align-items: center;
}
.rowgame {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: #e7e5e5;
  box-shadow: 8px 8px grey;
  border-radius: 10px;
  width: 50%;
  padding-top: 2%;
  padding-bottom: 1%;
  margin-left: 24%;
}
.rowanimatics {
  justify-content: space-evenly;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #e7e5e5;
  box-shadow: 8px 8px grey;
  border-radius: 10px;
  width: 40%;
  padding-top: 2%;
  padding-bottom: 1%;
  margin-left: 29.5%;
}
.rowsite{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: #e7e5e5;
  box-shadow: 8px 8px grey;
  border-radius: 10px;
  width: 80%;
  padding-top: 2%;
  padding-bottom: 1%;
  margin-left: 9.5%;
}

/*Columns*/
.columngame {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 55%;
  padding: 0 4px;
}
.animatics{
  -ms-flex: 25%;
  flex: 25%;
  max-width: 100%;
  padding: 0 4px;
  margin-left: 25%;
}
.columnsocial{
  -ms-flex: 25%;
  flex: 25%;
  max-width: 18%;
  padding: 0 4px;
  transition: transform 0.3s ease-in-out;
}
.columnsocial:hover{
  cursor: pointer;
  transform: scale(1.2);
}
.columnsocial img{
  width: 100%;
}
.ThreeDcolumn {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 60%;
  padding: 0 4px;
  margin-left: auto;
  margin-right: auto;
}
.columnsocial:hover{
  cursor: pointer;
  transform: scale(1.2);
}
.columnsocial img{
  width: 100%;
}
.columnsites{
  -ms-flex: 25%;
  flex: 25%;
  max-width: 40%;
  padding-left: 6.5%;
  padding-right: 2%;
}


/*Heading Animations*/
.name{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}
.about{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 0.5s;
}
.mywork{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 0.5s;
}
/*.exit{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}*/
.menurow{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.about::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(73, 73, 73);
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}
.about:hover::after {
  transform: scaleX(1);
}

.aboutheading{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}

.mywork::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(73, 73, 73);
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}
.mywork:hover::after {
  transform: scaleX(1);
}

/*Same for all pages*/
.about:hover{
  cursor: pointer;
  color: rgb(73, 73, 73);
}
.aboutlink{
  text-decoration: none;
}
.subheadingsbox{
  color: rgb(177, 177, 177);
  width: 99%;
}
.links{
  font-family: 'Funnel Sans';
  color: rgb(73, 73, 73);
  font-weight: 200;
  text-align: center;
}
.mywork:hover{
  cursor: pointer;
  color: #000;
}
.worklink{
  text-decoration: none;
}

.main-headings{
  transition: color 0.3s ease-in-out;
  text-align: center;
  font-family: 'Funnel Sans';
}
.subheadings{
  text-align: center;
  font-family: 'Funnel Sans';
}
.artheadings{
  transition: color 0.3s ease-in-out;
  text-align: center;
  font-weight: 400;
  font-family: 'Funnel Sans';
}
.codeheadings{
  transition: color 0.3s ease-in-out;
  text-align: center;
  font-weight: 400;
  font-family: 'Funnel Sans';
}

.subart{
  transition: color 0.3s ease-in-out;
  color: rgb(58, 58, 58);
}
.subart:hover{
  color: black;
}
.info{
  transition: color 0.3s ease-in-out;
  text-align: center;
  font-family: 'Funnel Sans';
}
.infovideo{
  transition: color 0.3s ease-in-out;
  text-align: center;
  font-family: 'Funnel Sans';
}

.copyright{
  text-align: center;
  font-family: 'Funnel Sans';
}
.copyrightart{
  text-align: center;
  font-family: 'Funnel Sans';
}
.copyrightcode{
  text-align: center;
  font-family: 'Funnel Sans';
}
.copyrightabout{
  text-align: center;
  font-family: 'Funnel Sans';
}

a{
  color: rgb(58, 58, 58);
}
a:hover{
  color: black;
}
.sitelink{
  transition: color 0.3s ease-in-out;
  color: rgb(58, 58, 58);
  text-align: center;
  font-family: 'Funnel Sans';
  cursor: pointer;
  text-decoration: underline;
}
.sitelink:hover{
  color: #000;
}

.back-arrow{
  content: url(../imgs/Arrow\ 1.png);
}
.aboutheading{
  font-family: 'Brown Sugar';
  transition: color 0.3s ease-in-out;
  font-weight: bold;
  text-align: center;
}
.information1{
  font-family: 'Funnel Sans';
  color: #000;
  font-weight: 200;
  transition: color 0.3s ease-in-out;
    text-align: center;
    opacity: 0;
    animation: fadeInUp 1.2s ease-in-out forwards;
    animation-delay: 0.7s;
}
.information1::after{
  opacity: 1;
}
.information2{
  font-family: 'Funnel Sans';
  color: #000;
  font-weight: 200;
    text-align: center;
    transition: color 0.3s ease-in-out;
    opacity: 0;
    animation: fadeInUp 1.5s ease-in-out forwards;
    animation-delay: 0.7s;
}
.information2::after{
  opacity: 1;
}
.information3{
  font-family: 'Funnel Sans';
  color: #000;
  font-weight: 200;
    text-align: center;
    transition: color 0.3s ease-in-out;
    opacity: 0;
    animation: fadeInUp 1.7s ease-in-out forwards;
    animation-delay: 0.7s;
}
.information3::after{
  opacity: 1;
}
.cvinfo{
  font-family: 'Funnel Sans';
  color: #000;
  font-weight: 200;
  transition: color 0.3s ease-in-out;
    text-align: center;
    opacity: 0;
    animation: fadeInUp 2s ease-in-out forwards;
    animation-delay: 0.7s;
}
.cvinfo::after{
  opacity: 1;
}

.sub-headings{
  font-family: 'Funnel Sans';
  color: #000;
  font-weight: 200;
    text-align: center;
    opacity: 0;
    animation: fadeInUp 2s ease-in-out forwards;
    animation-delay: 0.7s;
}
.sub-headings::after{
  opacity: 1;
}
.achievements{
  font-family: 'Funnel Sans';
  color: #000;
  font-weight: 200;
    text-align: center;
    opacity: 0;
    animation: fadeInUp 2s ease-in-out forwards;
    animation-delay: 0.7s;
}
.achievements::after{
  opacity: 1;
}

.small-menu{
  font-family: 'Funnel Sans';
  color: #000;
  transition: color 0.3s ease-in-out;
  font-weight: 200;
}
.menu-link{
  text-decoration: none;
}
.menu-link-2{
  text-decoration: none;
}
.small-menu:hover{
  cursor: pointer;
  color: rgb(141, 141, 141);
}
.home{
  text-decoration: none;
}

.switch {
  content: url(../imgs/logos/Group\ 5.png);
  position: relative;
  display: inline-block;
  transition: content 0.1s ease-in-out;
  cursor: pointer;
}
.switch-menu {
  content: url(../imgs/logos/Group\ 5.png);
  position: relative;
  display: inline-block;
  transition: content 0.1s ease-in-out;
  cursor: pointer;
}


.discordicon{
  content: url(../imgs/logos/Mask\ group-2.png);
}
.githubicon {
  content: url(../imgs/logos/Mask\ group.png);
}
.linkedinicon {
  content: url(../imgs/logos/Group\ 3.png);
}
.exit {
  content: url("../imgs/logos/Group\ 8.png");
}

.dark-mode{
  .switch {
    transition: content 0.1s ease-in-out;
    content: url(../imgs/logos/image\ 3.png);
  }
  .switch-menu {
    transition: content 0.1s ease-in-out;
    content: url(../imgs/logos/image\ 3.png);
  }
  .discordicon {
    content: url(../imgs/logos/image\ 2.png);
  }
  .githubicon {
    content: url(../imgs/logos/Mask\ group-1.png);
  }
  .linkedinicon {
    content: url(../imgs/logos/Group\ 4.png);
  }
  .slider::before {
    background-color: white;
  }
  .topofpage{
    background-color: #2e2e2e;
    color: white;
    transition: color 0.1s ease-in-out;
  }
  .worklink{
    color: white;
    transition: color 0.3s ease-in-out;
  }
  .worklink:hover{
    color:rgb(184, 184, 184);
  }
  .aboutlink{
    color: white;
    transition: color 0.3s ease-in-out;
  }
  .aboutlink:hover{
    color:rgb(184, 184, 184);
  }
  .socials{
    transition: color 0.3s ease-in-out;
  }
  .copyright{
    color: white;
    transition: color 0.3s ease-in-out;
  }

  .exit {
    content: url("../imgs/logos/Group\ 9.png");
  }
  .menu-box{
    background-color: #2e2e2e;
  }
  .art-menu{
    transition: color 0.3s ease-in-out;
    color: white;
  }
  .code-menu{
    transition: color 0.3s ease-in-out;
    color: white;
  }
  .achievement-menu {
    transition: color 0.3s ease-in-out;
    color: white;
  }
  .small-menu{
    color: white;
  }

  .menu-row {
    background-color: rgb(32, 32, 32);
  }
  .subart{
    color: white;
  }
  .main-headings{
    color: white;
  }
  .subheadingsbox {
    color: #2e2e2e;
  }
  .artheadings{
    color: white;
  }
  .info{
    color: white;
  }
  .copyrightart{
    color: white;
  }
  .copyrightabout {
    color: white;
  }
  .sub-headings{
    color: white;
  }
  .achievements{
    color: white;
    background-color: rgb(78, 78, 78);
    box-shadow: 8px 8px rgb(51, 51, 51);
  }
  .codeheadings{
    color: white;
  }
  .sitelink{
    color: lightgrey;
  }
  .sitelink:hover{
    color: grey;
  }
  .copyrightcode{
    color: white;
  }
  .aboutheading {
    color: white;
  }
  .informationsection {
    background-color: rgb(78, 78, 78);
    box-shadow: 8px 8px rgb(51, 51, 51);
  }
  .cvsection {
    background-color: rgb(78, 78, 78);
    box-shadow: 8px 8px rgb(51, 51, 51);
  }
  .information1 {
    color: white;
  }
  .information2 {
    color: white;
  }
  .information3 {
    color: white;
  }
  .cvinfo {
    color: white;
  }
  label {
    transition: color 0.3s ease-in-out;
    color: white;
  }
  input[type=text], [type=email], select, textarea {
    transition: color 0.3s ease-in-out;
    color: white;
    background-color: rgb(194, 194, 194);
    border: 1px solid #6e6e6e;
  }
  input[type=submit] {
    transition: color 0.3s ease-in-out;
    background-color: rgb(49, 49, 49);
    color: rgb(233, 225, 225);
  }
  input[type=submit]:hover {
    transition: color 0.3s ease-in-out;
    background-color: rgb(97, 97, 97);
  }
  .container{
    transition: color 0.3s ease-in-out;
    background-color: #666464;
    box-shadow: 8px 8px rgb(0, 0, 0);
  }
  input[type=submit]:hover {
    background-color: rgb(15, 15, 15);
  }
  .topnav {
    background-color: rgb(32, 32, 32);
  }
  .heart-work {
    content: url(../imgs/Outline\ White\ Heart.png);
  }
  background-color: rgb(32, 32, 32);
}

/*Widescreen Monitor*/
@media only screen and (max-width: 4000px){
  .topnav {
    display: none;
  }
  .switch {
    width: 60px;
    height: 60px;
    margin-bottom: 1%;
    margin-left: 5%;
  }
  .switch-menu {
    width: 3%;
    height: 3%;
    margin-left: 88%;
    margin-top: 3%;
  }
  /*Top of Page*/
    .socials{
        position: relative;
        padding-left: 91%;
        padding-top: 1%;
    }
    .topofpage{
      transition: color 0.3s ease-in-out;
        width: 99.5%;
        height: 80%;
        background-color: rgb(211, 211, 211);
        margin-top: 1%;
        position: absolute;
    }
    .name{
      font-family: 'Brown Sugar';
      font-weight: 500;
        text-align: center;
        padding-top: 5%;
        font-size: 200px;
    }
    .links {
      padding-left: 45%;
      padding-right: 45%;
    }
    .about{
        font-size: 50px;
        margin-bottom: 45%;
        transition: color 0.3s ease-in-out;
    }
    .mywork{
      font-size: 65px;
      transition: color 0.3s ease-in-out;
    }

    .menu-row {
      position: sticky;
      overflow: hidden;
      top: 0;
      background-color: rgb(243, 243, 243);
    }

      /*Extra*/
    .main-headings{
        font-size: 80px;
        padding-bottom: 2%;
    }
    .subheadings{
      font-size: 40px;
      margin-bottom: 4%;
    }
    .artheadings{
      font-size: 50px;
    }
    .codeheadings{
      font-size: 50px;
    }
    .subart{
      padding-left: 2%;
      padding-right: 2%;
      text-decoration: none;
    }
    .info{
      font-size: 20px;
    }
    .infovideo {
      font-size: 20px;
      margin-right: 30%;
    }
    .copyright{
      transition: color 0.3s ease-in-out;
      padding-top: 33.5%;
    }
    .copyrightart{
      transition: color 0.3s ease-in-out;
      padding-top: 3%;
  }
  .copyrightcode{
    transition: color 0.3s ease-in-out;
    padding-top: 3%;
  }
  .copyrightabout{
    transition: color 0.3s ease-in-out;
    padding-top: 1%;
  }
    .secondyear{
      font-size: 30px;
    }
    .webgame{
      font-size: 30px;
    }
    .sitelink{
      font-size: 30px;
    }

    /*About Page*/
    .back-arrow{
      transform: rotate(-70deg);
      width: 4%;
      margin-left: 6%;
    }
    .aboutheading{
      font-size: 100px;
    }
    .information1{
      font-size: 40px;
    }
    .information2{
        font-size: 40px;
    }
    .information3{
        font-size: 40px;
    }
    .cvinfo{
        font-size: 40px;
    }

    .sub-headings{
      font-size: 40px;
    }
    .achievements{
      transition: color 0.3s ease-in-out;
      font-size: 40px;
      padding-bottom: 4%;
      padding-top: 3%;
      width: 49%;
      margin-left: 25%;
      background-color: #e7e5e5;
      box-shadow: 8px 8px grey;
      border-radius: 10px;
    }

    .informationsection{
      transition: color 0.3s ease-in-out;
      background-color: #e7e5e5;
      box-shadow: 8px 8px grey;
      border-radius: 10px;
      width: 40%;
      padding-top: 2%;
      padding-bottom: 2%;
      margin-left: 29.5%;
    }
    .cvsection{
      transition: color 0.3s ease-in-out;
      margin-top: 3%;
      background-color: #e7e5e5;
      box-shadow: 8px 8px grey;
      border-radius: 10px;
      width: 40%;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 2%;
      padding-right: 2%;
      margin-left: 27.5%;
    }

    /*Menu Page*/
    .exit{
      width: 1.5%;
      margin-left: 5%;
      margin-top: 3%;
    }
    .art-menu{
      font-family: 'Funnel Sans';
      color: #000;
      font-size: 100px;
    }
    .code-menu{
      font-family: 'Funnel Sans';
      color: #000;
      font-size: 100px;
    }
    .achievement-menu {
      font-family: 'Funnel Sans';
      color: #000;
      font-size: 75px;
    }
    .small-menu{
      font-size: 25px;
    }
    .code{
      margin-left: 1%;
      text-decoration: none;
    }
    .art{
      margin-left: 1%;
      text-decoration: none;
    }
    .about-link{
      margin-left: 1%;
      text-decoration: underline;
      margin-left: 3%;
    }
    .contact{
      margin-left: 1%;
      text-decoration: underline;
      margin-left: 1.5%;
    }

    label {
      font-family: 'Funnel Sans';
    }
    input[type=text], [type=email], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      font-family: 'Funnel Sans';
    }
    input[type=submit] {
      background-color: grey;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    input[type=submit]:hover {
      background-color: rgb(97, 97, 97);
    }
    .container{
      border-radius: 5px;
      background-color: #cec6c6;
      padding: 20px;
      margin-left: 30%;
      margin-right: 30%;
      box-shadow: 8px 8px grey;
    }
}


/*Bigger PC*/
@media only screen and (max-width: 2700px){
  .topnav {
    display: none;
  }
  /*Top of Page*/
  .socials{
    position: relative;
    padding-left: 94%;
    padding-top: 1%;
}
.topofpage{
  width: 99.5%;
  height: 80%;
  background-color: rgb(211, 211, 211);
  margin-top: 3%;
  position: absolute;
}
.name{
font-family: 'Brown Sugar';
font-weight: 500;
  text-align: center;
  padding-top: 5%;
  font-size: 180px;
}
.about{
    font-size: 35px;
    transition: color 0.3s ease-in-out;
    margin-bottom: 45%;
}
.mywork{
  font-size: 45px;
  transition: color 0.3s ease-in-out;
}

  /*Extra*/
  .main-headings{
    text-align: center;
    font-family: 'Funnel Sans';
    font-size: 80px;
}
.copyright{
  padding-top: 44%;
}
.copyrightart{
  padding-top: 3%;
}
.copyrightcode{
padding-top: 3%;
}
.secondyear{
  font-size: 30px;
}
.webgame{
  font-size: 30px;
}
.sitelink{
  font-size: 30px;
}

/*About Page*/
.back-arrow{
  transform: rotate(-70deg);
  width: 4%;
  margin-left: 6%;
}
.aboutheading{
  font-size: 100px;
}
.information1{
  font-size: 40px;
}
.information2{
  font-size: 40px;
}
.information3{
  font-size: 40px;
}
.cvinfo{
  font-size: 40px;
}

.sub-headings{
  font-size: 40px;
}
.achievements{
  font-size: 40px;
  padding-bottom: 4%;
}

/*Menu Page*/
.exit{
  width: 1.5%;
  margin-left: 5%;
  margin-top: 3%;
}
.art-menu{
  font-family: 'Funnel Sans';
  color: #000;
  font-size: 100px;
}
.code-menu{
  font-family: 'Funnel Sans';
  color: #000;
  font-size: 100px;
}

.small-menu{
  font-size: 25px;
}
.code{
  margin-left: 1%;
  text-decoration: none;
}
.art{
  margin-left: 1%;
  text-decoration: none;
}
}

/*Roughly 24" Monitor*/
@media only screen and (max-width: 2000px){
  .topnav {
    display: none;
  }
  /*Top of Page*/
  .socials{
    position: relative;
    padding-left: 92%;
    padding-top: 1%;
}
.topofpage{
  width: 99.5%;
  height: 75%;
  background-color: rgb(211, 211, 211);
  margin-top: 5%;
  position: absolute;
}
.name{
font-family: 'Brown Sugar';
font-weight: 500;
  text-align: center;
  padding-top: 5%;
  font-size: 180px;
}
.about{
    font-size: 35px;
    transition: color 0.3s ease-in-out;
}
.mywork{
  font-size: 43px;
  transition: color 0.3s ease-in-out;
}

  /*Extra*/
.main-headings{
    text-align: center;
    font-family: 'Funnel Sans';
    font-size: 80px;
}
.copyright{
    padding-top: 4%;
}
.copyrightart{
  padding-top: 3%;
}
.copyrightcode{
  padding-top: 3%;
}

.secondyear{
  font-size: 30px;
}
.webgame{
  font-size: 30px;
}
.sitelink{
  font-size: 30px;
}

/*About Page*/
.back-arrow{
  transform: rotate(-70deg);
  width: 4%;
  margin-left: 6%;
}
.aboutheading{
  font-family: 'Brown Sugar';
  font-weight: bold;
  text-align: center;
  font-size: 100px;
}
.information1{
  font-size: 40px;
}
.information2{
  font-size: 40px;
}
.information3{
  font-size: 40px;
}
.cvinfo{
  font-size: 40px;
}

.sub-headings{
  font-size: 40px;
}
.achievements{
  font-size: 40px;
  padding-bottom: 4%;
}

/*Menu Page*/
.exit{
  width: 1.5%;
  margin-left: 5%;
  margin-top: 3%;
}
.art-menu{
  font-family: 'Funnel Sans';
  color: #000;
  font-size: 100px;
}
.code-menu{
  font-family: 'Funnel Sans';
  color: #000;
  font-size: 100px;
}

.small-menu{
  font-size: 25px;
}
.code{
  margin-left: 1%;
  text-decoration: none;
}
.art{
  margin-left: 1%;
  text-decoration: none;
}
}