body{
    background-color: rgb(243, 243, 243);
}

/*Fonts*/
.funnel-sans-heading {
    font-family: "Funnel Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
@font-face {
  font-family: 'Brown Sugar';
  src: url('BrownSugar.woff2') format('woff2'),
  url('fonts/BrownSugar-.eot');
    src: url('fonts/BrownSugar-.eot?#iefix') format('embedded-opentype'),
      url('BrownSugar.woff') format('woff'),
      url('../fonts/Brown-Sugar/BrownSugar .ttf'),
      url('fonts/BrownSugar-.svg#Brown Sugar') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/*Rows*/
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 24.75%;
    padding: 0 4px;
    margin-left: auto;
    margin-right: auto;
}
.column img {
  flex-shrink: 1;
}
.menurow {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 4px;
  text-align: center;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 10%;
}
.menu-box{
  background-color: rgb(177, 177, 177);
  width: 20%;
  border-radius: 20px;
}
.menu-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 5%;
}
.ThreeDrow {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 4px;
}
.rowsocials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  align-items: center;
}
.rowgame {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}
.rowanimatics {
  justify-content: space-evenly;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.rowsite{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

/*Columns*/
.columngame {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 24.75%;
  max-height: 30%;
  padding: 0 4px;
}
.animatics{
  -ms-flex: 25%;
  flex: 25%;
  padding-left: 0 4px;
  margin-left: 17%;
}
.columnsocial{
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  transition: transform 0.3s ease-in-out;
}
.columnsocial:hover{
  cursor: pointer;
  transform: scale(1.2);
}
.columnsocial img{
  width: 100%;
}
.ThreeDcolumn {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 24.75%;
  padding: 0 4px;
  margin-left: auto;
  margin-right: auto;
}
.columnsocial:hover{
  cursor: pointer;
  transform: scale(1.2);
}
.columnsocial img{
  width: 100%;
}
.columnsites{
  -ms-flex: 25%;
  flex: 25%;
  max-width: 35%;
  margin-left: auto;
  margin-right: auto;
}


/*Heading Animations*/
.name{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}
.about{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 0.5s;
}
.mywork{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 0.5s;
}
/*.exit{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}*/
.menurow{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.about::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(73, 73, 73);
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}
.about:hover::after {
  transform: scaleX(1);
}

.aboutheading{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}

.mywork::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(73, 73, 73);
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}
.mywork:hover::after {
  transform: scaleX(1);
}

/*Same for all pages*/
.about:hover{
  cursor: pointer;
  color: rgb(73, 73, 73);
}
.aboutlink{
  text-decoration: none;
}
.subheadingsbox{
  color: rgb(177, 177, 177);
  width: 99%;
}
.links{
  font-family: 'Funnel Sans';
  color: rgb(73, 73, 73);
  font-weight: 200;
  text-align: center;
  padding-left: 45%;
  padding-right: 45%;
}
.mywork:hover{
  cursor: pointer;
  color: #000;
}
.worklink{
  text-decoration: none;
}

.main-headings{
  text-align: center;
  font-family: 'Funnel Sans';
}
.subheadings{
  text-align: center;
  font-family: 'Funnel Sans';
}
.artheadings{
  text-align: center;
  font-weight: 400;
  font-family: 'Funnel Sans';
}
.codeheadings{
  text-align: center;
  font-weight: 400;
  font-family: 'Funnel Sans';
}

.subart{
  color: rgb(58, 58, 58);
}
.subart:hover{
  color: black;
}
.info{
  text-align: center;
  font-family: 'Funnel Sans';
}

.copyright{
  text-align: center;
  font-family: 'Funnel Sans';
}
.copyrightart{
  text-align: center;
  font-family: 'Funnel Sans';
}
.copyrightcode{
  text-align: center;
  font-family: 'Funnel Sans';
}
.copyrightabout{
  text-align: center;
  font-family: 'Funnel Sans';
}

a{
  color: rgb(58, 58, 58);
}
a:hover{
  color: black;
}
.sitelink{
  color: rgb(58, 58, 58);
  text-align: center;
  font-family: 'Funnel Sans';
  cursor: pointer;
  text-decoration: underline;
}
.sitelink:hover{
  color: #000;
}

.aboutheading{
  font-family: 'Brown Sugar';
  font-weight: bold;
  text-align: center;
}
.information1{
  font-family: 'Funnel Sans';
  color: #000;
  font-weight: 200;
    text-align: center;
    opacity: 0;
    animation: fadeInUp 1.2s ease-in-out forwards;
    animation-delay: 0.7s;
}
.information1::after{
  opacity: 1;
}
.information2{
  font-family: 'Funnel Sans';
  color: #000;
  font-weight: 200;
    text-align: center;
    transition: color 0.3s ease-in-out;
    opacity: 0;
    animation: fadeInUp 1.5s ease-in-out forwards;
    animation-delay: 0.7s;
}
.information2::after{
  opacity: 1;
}
.information3{
  font-family: 'Funnel Sans';
  color: #000;
  font-weight: 200;
    text-align: center;
    opacity: 0;
    animation: fadeInUp 1.7s ease-in-out forwards;
    animation-delay: 0.7s;
}
.information3::after{
  opacity: 1;
}
.cvinfo{
  font-family: 'Funnel Sans';
  color: #000;
  font-weight: 200;
    text-align: center;
    opacity: 0;
    animation: fadeInUp 2s ease-in-out forwards;
    animation-delay: 0.7s;
}
.cvinfo::after{
  opacity: 1;
}

.small-menu{
  font-family: 'Funnel Sans';
  color: #000;
  transition: color 0.3s ease-in-out;
  font-weight: 200;
}
.menu-link{
  text-decoration: none;
}
.menu-link-2{
  text-decoration: none;
}
.small-menu:hover{
  cursor: pointer;
  color: rgb(141, 141, 141);
}
.home{
  text-decoration: none;
}


/*Widescreen Monitor*/
@media only screen and (max-width: 4000px){
  .topnav{
    display: none;
  }
  /*Top of Page*/
    .socials{
        position: relative;
        padding-left: 94%;
        padding-top: 1%;
    }
    .topofpage{
        width: 99.5%;
        height: 80%;
        background-color: rgb(211, 211, 211);
        margin-top: 1%;
        position: absolute;
    }
    .name{
      font-family: 'Brown Sugar';
      font-weight: 500;
        text-align: center;
        padding-top: 5%;
        font-size: 200px;
    }
    .about{
        font-size: 50px;
        margin-bottom: 45%;
        transition: color 0.3s ease-in-out;
    }
    .mywork{
      font-size: 65px;
      transition: color 0.3s ease-in-out;
    }

      /*Extra*/
    .main-headings{
        font-size: 80px;
    }
    .subheadings{
      font-size: 40px;
      margin-bottom: 4%;
    }
    .artheadings{
      font-size: 50px;
    }
    .codeheadings{
      font-size: 50px;
    }
    .subart{
      padding-left: 2%;
      padding-right: 2%;
      text-decoration: none;
    }
    .info{
      font-size: 20px;
    }
    .copyright{
      padding-top: 33.5%;
    }
    .copyrightart{
      padding-top: 3%;
  }
  .copyrightcode{
    padding-top: 3%;
  }
  .copyrightabout{
    padding-top: 1%;
  }
    .secondyear{
      font-size: 30px;
    }
    .webgame{
      font-size: 30px;
    }
    .sitelink{
      font-size: 30px;
    }

    /*About Page*/
    .back-arrow{
      transform: rotate(-70deg);
      max-width: 4%;
      margin-left: 6%;
    }
    .aboutheading{
      font-size: 100px;
    }
    .information1{
      font-size: 40px;
    }
    .information2{
        font-size: 40px;
    }
    .information3{
        font-size: 40px;
    }
    .cvinfo{
        font-size: 40px;
    }
    /*Menu Page*/
    .exit{
      width: 1.5%;
      margin-left: 5%;
      margin-top: 3%;
    }
    .art-menu{
      font-family: 'Funnel Sans';
      color: #000;
      font-size: 100px;
    }
    .code-menu{
      font-family: 'Funnel Sans';
      color: #000;
      font-size: 100px;
    }

    .small-menu{
      font-size: 25px;
    }
    .code{
      margin-left: 1%;
      text-decoration: none;
    }
    .art{
      margin-left: 1%;
      text-decoration: none;
    }
}


/*Bigger PC*/
@media only screen and (max-width: 2700px){
  .topnav{
    display: none;
  }
  /*Top of Page*/
  .socials{
    position: relative;
    padding-left: 94%;
    padding-top: 1%;
}
.topofpage{
  width: 99.5%;
  height: 80%;
  background-color: rgb(211, 211, 211);
  margin-top: 3%;
  position: absolute;
}
.name{
font-family: 'Brown Sugar';
font-weight: 500;
  text-align: center;
  padding-top: 5%;
  font-size: 180px;
}
.about{
    font-size: 35px;
    transition: color 0.3s ease-in-out;
    margin-bottom: 45%;
}
.mywork{
  font-size: 45px;
  transition: color 0.3s ease-in-out;
}

  /*Extra*/
  .main-headings{
    text-align: center;
    font-family: 'Funnel Sans';
    font-size: 80px;
}
.copyright{
  padding-top: 44%;
}
.copyrightart{
  padding-top: 3%;
}
.copyrightcode{
padding-top: 3%;
}
.secondyear{
  font-size: 30px;
}
.webgame{
  font-size: 30px;
}
.sitelink{
  font-size: 30px;
}

/*About Page*/
.back-arrow{
  transform: rotate(-70deg);
  max-width: 4%;
  margin-left: 6%;
}
.aboutheading{
  font-size: 100px;
}
.information1{
  font-size: 40px;
}
.information2{
  font-size: 40px;
}
.information3{
  font-size: 40px;
}
.cvinfo{
  font-size: 40px;
}

/*Menu Page*/
.exit{
  width: 1.5%;
  margin-left: 5%;
  margin-top: 3%;
}
.art-menu{
  font-family: 'Funnel Sans';
  color: #000;
  font-size: 100px;
}
.code-menu{
  font-family: 'Funnel Sans';
  color: #000;
  font-size: 100px;
}

.small-menu{
  font-size: 25px;
}
.code{
  margin-left: 1%;
  text-decoration: none;
}
.art{
  margin-left: 1%;
  text-decoration: none;
}
}

/*Roughly 24" Monitor*/
@media only screen and (max-width: 2000px){
  .topnav{
    display: none;
  }
  /*Top of Page*/
  .socials{
    position: relative;
    padding-left: 92%;
    padding-top: 1%;
}
.topofpage{
  width: 99.5%;
  height: 75%;
  background-color: rgb(211, 211, 211);
  margin-top: 5%;
  position: absolute;
}
.name{
font-family: 'Brown Sugar';
font-weight: 500;
  text-align: center;
  padding-top: 5%;
  font-size: 180px;
}
.about{
    font-size: 35px;
    transition: color 0.3s ease-in-out;
}
.mywork{
  font-size: 43px;
  transition: color 0.3s ease-in-out;
}

  /*Extra*/
.main-headings{
    text-align: center;
    font-family: 'Funnel Sans';
    font-size: 80px;
}
.copyright{
    padding-top: 4%;
}
.copyrightart{
  padding-top: 3%;
}
.copyrightcode{
  padding-top: 3%;
}

.secondyear{
  font-size: 30px;
}
.webgame{
  font-size: 30px;
}
.sitelink{
  font-size: 30px;
}

/*About Page*/
.back-arrow{
  transform: rotate(-70deg);
  max-width: 4%;
  margin-left: 6%;
}
.aboutheading{
  font-family: 'Brown Sugar';
  font-weight: bold;
  text-align: center;
  font-size: 100px;
}
.information1{
  font-size: 40px;
}
.information2{
  font-size: 40px;
}
.information3{
  font-size: 40px;
}
.cvinfo{
  font-size: 40px;
}

/*Menu Page*/
.exit{
  width: 1.5%;
  margin-left: 5%;
  margin-top: 3%;
}
.art-menu{
  font-family: 'Funnel Sans';
  color: #000;
  font-size: 100px;
}
.code-menu{
  font-family: 'Funnel Sans';
  color: #000;
  font-size: 100px;
}

.small-menu{
  font-size: 25px;
}
.code{
  margin-left: 1%;
  text-decoration: none;
}
.art{
  margin-left: 1%;
  text-decoration: none;
}
}