/*Mobile Phone Sizing*/
@media only screen and (max-width: 500px){
   /* Style the navigation menu */
 .topnav {
  display: block;
  overflow: hidden;
  background-color: #333;
  position: relative;
  margin-top: 6%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: transparent;
  color: white;
}
    /*Top of Page*/
    .socials{
      display: none;
  }
  .topofpage{
    width: 96%;
    height: 80%;
    background-color: rgb(211, 211, 211);
    margin-top: 5%;
    position: absolute;
  }
  .name{
  font-family: 'Brown Sugar';
  font-weight: bold;
    text-align: center;
    padding-top: 5%;
    font-size: 80px;
  }
  .about{
      font-size: 30px;
      transition: color 0.3s ease-in-out;
  }
  .about:hover{
    cursor: pointer;
    color: rgb(73, 73, 73);
  }
  .aboutlink{
    text-decoration: none;
  }
  .mywork{
    font-size: 35px;
    transition: color 0.3s ease-in-out;
  }
  .links{
    font-family: 'Funnel Sans';
    color: rgb(73, 73, 73);
    font-weight: 200;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
  }
  .mywork:hover{
    cursor: pointer;
    color: #000;
  }
  .worklink{
    text-decoration: none;
  }
  
    /*Column/Row Info*/
    .rowsocials {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0 4px;
      align-items: center;
    }
    .columnsocial{
      -ms-flex: 25%;
      flex: 25%;
      max-width: 50%;
      padding: 0 4px;
    }
    .columnsocial:hover{
      cursor: pointer;
    }
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 100%;
      padding: 0 4px;
      align-items: center;
    }
    .animatics{
      -ms-flex: 50%;
      flex: 50%;
      padding: 0 4px;
      align-items: center;
    }
    video{
      max-width: 100%;
    }
  
    .rowsite{
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0 4px;
    }
    .rowsite img{
      width: 100%;
    }
    .rowsite2{
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0 4px;
    }
    .rowsite2 img{
      width: 100%;
    }
    .columngame {
      -ms-flex: 25%;
      flex: 25%;
      max-width: 100%;
      padding: 0 4px;
    }
  
    /*Extra*/
    .main-headings{
        padding-top: 3%;
        text-align: center;
        font-family: 'Funnel Sans';
        font-size: 50px;
    }
    .copyright{
        padding-top: 187%;
        text-align: center;
        font-family: 'Funnel Sans';
    }

    /*Menu Page*/
    .exit{
      width: 8%;
      margin-left: 5%;
      margin-top: 5%;
    }
    .art-menu{
      font-family: 'Funnel Sans';
      color: #000;
      font-size: 80px;
    }
    .code-menu{
      font-family: 'Funnel Sans';
      color: #000;
      font-size: 80px;
    }
    .menu-link{
      text-decoration: none;
    }
    .menu-box{
      background-color: rgb(177, 177, 177);
      width: 70%;
      border-radius: 20px;
      margin-top: 15%;
      margin-bottom: 5%;
    }
    .menu-row{
      display: none;
    }

    .small-menu{
      font-family: 'Funnel Sans';
      color: #000;
      font-size: 25px;
      transition: color 0.3s ease-in-out;
      font-weight: 200;
    }
    .small-menu:hover{
      cursor: pointer;
      color: rgb(141, 141, 141);
    }
    .home{
      text-decoration: none;
    }
    .code{
      margin-left: 1%;
      text-decoration: none;
    }
    .art{
      margin-left: 1%;
      text-decoration: none;
    }
  }

  /*iPad Pro Size*/
  @media only screen and (max-width: 1000px) and (min-width: 500px){
    /* Style the navigation menu */
  .topnav {
   display: block;
   overflow: hidden;
   background-color: #333;
   position: relative;
   margin-top: 6%;
 }
 
 /* Hide the links inside the navigation menu (except for logo/home) */
 .topnav #myLinks {
   display: none;
 }
 
 /* Style navigation menu links */
 .topnav a {
   color: white;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   display: block;
 }
 
 /* Style the hamburger menu */
 .topnav a.icon {
   background: black;
   display: block;
   position: absolute;
   right: 0;
   top: 0;
 }
 
 /* Add a grey background color on mouse-over */
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 /* Style the active link (or home/logo) */
 .active {
   background-color: transparent;
   color: white;
 }
     /*Top of Page*/
     .socials{
       display: none;
   }
   .topofpage{
     width: 98%;
     height: 70%;
     background-color: rgb(211, 211, 211);
     margin-top: 10%;
     position: absolute;
   }
   .name{
   font-family: 'Brown Sugar';
   font-weight: bold;
     text-align: center;
     padding-top: 5%;
     font-size: 110px;
   }
   .about{
       font-size: 40px;
       transition: color 0.3s ease-in-out;
   }
   .about:hover{
     cursor: pointer;
     color: rgb(73, 73, 73);
   }
   .aboutlink{
     text-decoration: none;
   }
   .mywork{
     font-size: 55px;
     transition: color 0.3s ease-in-out;
   }
   .links{
     font-family: 'Funnel Sans';
     color: rgb(73, 73, 73);
     font-weight: 200;
     text-align: center;
     padding-left: 30%;
     padding-right: 30%;
   }
   .mywork:hover{
     cursor: pointer;
     color: #000;
   }
   .worklink{
     text-decoration: none;
   }
   
     /*Column/Row Info*/
     /*.rowsocials {
       display: -ms-flexbox;
       display: flex;
       -ms-flex-wrap: wrap;
       flex-wrap: wrap;
       padding: 0 4px;
       align-items: center;
     }
     .columnsocial{
       -ms-flex: 25%;
       flex: 25%;
       max-width: 50%;
       padding: 0 4px;
     }
     .columnsocial:hover{
       cursor: pointer;
     }*/
     .column {
       -ms-flex: 50%;
       flex: 50%;
       max-width: 100%;
       padding: 0 4px;
       align-items: center;
     }
     .animatics{
       -ms-flex: 50%;
       flex: 50%;
       padding: 0 4px;
       align-items: center;
     }
     video{
       max-width: 100%;
     }
   
     .rowsite{
       display: -ms-flexbox;
       display: flex;
       -ms-flex-wrap: wrap;
       flex-wrap: wrap;
       padding: 0 4px;
     }
     .rowsite img{
       width: 100%;
     }
     .rowsite2{
       display: -ms-flexbox;
       display: flex;
       -ms-flex-wrap: wrap;
       flex-wrap: wrap;
       padding: 0 4px;
     }
     .rowsite2 img{
       width: 100%;
     }
     .columngame {
       -ms-flex: 25%;
       flex: 25%;
       max-width: 100%;
       padding: 0 4px;
     }
   
     /*Extra*/
     .main-headings{
         padding-top: 3%;
         text-align: center;
         font-family: 'Funnel Sans';
         font-size: 50px;
     }
     .copyright{
         padding-top: 115%;
         text-align: center;
         font-family: 'Funnel Sans';
     }
 
     /*Menu Page*/
     .exit{
       width: 8%;
       margin-left: 5%;
       margin-top: 5%;
     }
     .art-menu{
       font-family: 'Funnel Sans';
       color: #000;
       font-size: 80px;
     }
     .code-menu{
       font-family: 'Funnel Sans';
       color: #000;
       font-size: 80px;
     }
     .menu-link{
       text-decoration: none;
     }
     .menu-box{
       background-color: rgb(177, 177, 177);
       width: 70%;
       border-radius: 20px;
       margin-top: 15%;
       margin-bottom: 5%;
     }
     .menu-row{
       display: none;
     }
 
     .small-menu{
       font-family: 'Funnel Sans';
       color: #000;
       font-size: 25px;
       transition: color 0.3s ease-in-out;
       font-weight: 200;
     }
     .small-menu:hover{
       cursor: pointer;
       color: rgb(141, 141, 141);
     }
     .home{
       text-decoration: none;
     }
     .code{
       margin-left: 1%;
       text-decoration: none;
     }
     .art{
       margin-left: 1%;
       text-decoration: none;
     }
   }