/*Large Laptop*/
@media only screen and (max-width: 1500px){
    .topnav {
    display: none;
  }
  /*Top of Page*/
  .socials{
    position: relative;
    padding-left: 88%;
    padding-top: 1%;
}
.topofpage{
  width: 99.5%;
  height: 70%;
  background-color: rgb(211, 211, 211);
  margin-top: 7%;
  position: absolute;
}
.name{
font-family: 'Brown Sugar';
font-weight: 500;
  text-align: center;
  padding-top: 5%;
  font-size: 170px;
}
.about{
    font-size: 35px;
    transition: color 0.3s ease-in-out;
}
.mywork{
  font-size: 43px;
  transition: color 0.3s ease-in-out;
}


  /*Extra*/
.main-headings{
  font-size: 80px;
}
.copyright{
  padding-top: 4%;
}
.copyrightart{
padding-top: 3%;
}
.copyrightcode{
padding-top: 3%;
}
.secondyear{
  font-size: 30px;
}
.webgame{
  font-size: 30px;
}
.sitelink{
  font-size: 30px;
}

/*About Page*/
.back-arrow{
  transform: rotate(-70deg);
  width: 10%;
  margin-left: 6%;
}
.aboutheading{
  font-family: 'Brown Sugar';
  font-weight: bold;
  text-align: center;
  font-size: 100px;
}
.information1{
  font-size: 40px;
}
.information2{
  font-size: 40px;
}
.information3{
  font-size: 40px;
}
.cvinfo{
  font-size: 40px;
}

.sub-headings{
  font-size: 33px;
}
.achievements{
  font-size: 33px;
  padding-bottom: 4%;
}

/*Menu Page*/
.exit{
  width: 1.5%;
  margin-left: 5%;
  margin-top: 3%;
}
.art-menu{
  font-family: 'Funnel Sans';
  color: #000;
  font-size: 100px;
}
.code-menu{
  font-family: 'Funnel Sans';
  color: #000;
  font-size: 100px;
}

.small-menu{
  font-size: 25px;
}
.code{
  margin-left: 1%;
  text-decoration: none;
}
.art{
  margin-left: 1%;
  text-decoration: none;
}
}

/*iPad Pro Size*/
@media only screen and (max-width: 1000px) and (min-width: 500px){
    .sub-headings{
      font-size: 25px;
    }
    .achievements{
      font-size: 25px;
      padding-bottom: 4%;
    }

/*Top of Page*/
  .socials{
      display: none;
  }
   .topofpage{
     width: 98%;
     height: 70%;
     background-color: rgb(211, 211, 211);
     margin-top: 10%;
     position: absolute;
   }
   .name{
   font-family: 'Brown Sugar';
   font-weight: 500;
     text-align: center;
     padding-top: 5%;
     font-size: 110px;
   }
   .about{
       font-size: 40px;
       transition: color 0.3s ease-in-out;
   }
   .mywork{
     font-size: 55px;
     transition: color 0.3s ease-in-out;
   }
     video{
       max-width: 100%;
     }
   
     /*Extra*/
     .main-headings{
         padding-top: 3%;
         text-align: center;
         font-family: 'Funnel Sans';
         font-size: 50px;
     }
     .copyright{
      padding-top: 4%;
    }
    .copyrightart{
    padding-top: 3%;
    }
    .copyrightcode{
    padding-top: 3%;
    }
 
     /*Menu Page*/
     .exit{
       width: 8%;
       margin-left: 5%;
       margin-top: 5%;
     }
     .art-menu{
       font-family: 'Funnel Sans';
       color: #000;
       font-size: 80px;
     }
     .code-menu{
       font-family: 'Funnel Sans';
       color: #000;
       font-size: 80px;
     }
     .menu-box{
       background-color: rgb(177, 177, 177);
       width: 70%;
       border-radius: 20px;
       margin-top: 15%;
       margin-bottom: 5%;
     }
     .menu-row{
       display: none;
     }
 
     .small-menu{
       font-size: 25px;
     }
     .code{
       margin-left: 1%;
       text-decoration: none;
     }
     .art{
       margin-left: 1%;
       text-decoration: none;
     }
  }

/*Mobile Phone Sizing*/
@media only screen and (max-width: 500px){
  .topnav {
    overflow: hidden;
    display: flex;
    position: fixed;
    width: 90.5%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  .topnav #myLinks {
    display: none;
    text-align: center;
    position: relative;
    top: 10%;
    max-width: 100%;
    text-align: center;
    background-color: rgb(177, 177, 177);
  }
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Funnel Sans';
    display: block;
  }

  .topnavicons {
    display: block;
  }
  .heart {
    content: url(../imgs/logos/Outline\ Black\ Heart.png);
    height: 45px;
    margin-left: 80%;
    margin-top: 5.5%;
  }

   /*Top of Page*/
   .socials{
     display: none;
 }
 .topofpage{
   width: 96%;
   height: 80%;
   background-color: rgb(211, 211, 211);
   margin-top: 5%;
   position: absolute;
 }
 .name{
 font-family: 'Brown Sugar';
 font-weight: 500;
   text-align: center;
   padding-top: 5%;
   font-size: 80px;
 }
 .links {
  padding-left: 2%;
  padding-right: 0%;
 }
 .about{
   position: relative;
   z-index: 9;
     font-size: 40px;
     transition: color 0.3s ease-in-out;
 }
 .mywork{
   font-size: 45px;
   transition: color 0.3s ease-in-out;
 }

   video{
     max-width: 100%;
   }
 
   /*Extra*/
   .main-headings{
       padding-top: 3%;
       text-align: center;
       font-family: 'Funnel Sans';
       font-size: 50px;
   }
   .copyright{
    padding-top: 4%;
  }
  .copyrightart{
  padding-top: 3%;
  }
  .copyrightcode{
  padding-top: 3%;
  }

  .switch {
    margin-left: 5%;
    margin-top: -20%;
  }
  .heart-work {
    content: url(../imgs/logos/Outline\ Black\ Heart.png);
    height: 30px;
    position: absolute;
    margin-left: 65%;
    margin-top: 3%;
  }
   /*Menu Page*/
   .switch-menu {
    width: 10%;
    height: 4.5%;
  }
   .exit{
     width: 4%;
     margin-left: 8%;
     margin-top: 10%;
   }
   .art-menu{
     font-family: 'Funnel Sans';
     color: #000;
     font-size: 40px;
   }
   .code-menu{
     font-family: 'Funnel Sans';
     color: #000;
     font-size: 40px;
   }
   .achievement-menu {
    font-family: 'Funnel Sans';
    color: #000;
    font-size: 35px;
   }
   .menu-box{
     background-color: rgb(177, 177, 177);
     width: 70%;
     border-radius: 20px;
     margin-top: 15%;
     margin-bottom: 5%;
   }
   .menu-row{
     display: none;
   }

   .small-menu{
     font-size: 25px;
   }
   .code{
     margin-left: 1%;
     text-decoration: none;
   }
   .art{
     margin-left: 1%;
     text-decoration: none;
   }

   .subart {
    font-size: 22px;
   }
   .artheadings {
    font-size: 30px;
   }
   .codeheadings {
    font-size: 30px;
   }
   .sub-headings {
    font-size: 30px;
   }
   .sitelink{
    font-size: 22px;
  }
   .info{
    font-size: 15px;
  }
  .infovideo {
    font-size: 17px;
    margin-left: 1.5%;
    margin-right: 0%;
  }
  .row {
    width: 85%;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-left: 6%;
  }
  .ThreeDrow {
    width: 85%;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-left: 6%;
  }
  .rowanimatics {
    width: 85%;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-left: 6%;
  }
  .rowsite {
    width: 85%;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-left: 6%;
  }
  .rowgame {
    width: 85%;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-left: 6%;
  }
  .mentorrow {
    width: 85%;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-left: 6%;
  }
   .column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 90%;
    margin-top: 2%;
    padding: 0 4px;
    margin-left: auto;
    margin-right: auto;
}
.columnsites {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 90%;
  margin-top: 5%;
  padding: 0 4px;
  margin-left: auto;
  margin-right: auto;
}
.columngame {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 90%;
  margin-top: 5%;
  padding: 0 4px;
  margin-left: auto;
  margin-right: auto;
}
.animatics {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 100%;
  margin-top: 2%;
  padding: 0 4px;
  margin-left: auto;
  margin-right: auto;
}
.animatics video {
  margin-left: 14.5%;
}
.ThreeDcolumn {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 90%;
  padding: 0 4px;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}
.columnmenu{
  -ms-flex: 25%;
  flex: 25%;
  max-width: 100%;
  padding: 0 4px;
  margin-left: auto;
  margin-right: auto;
}
.mentorcolumn{
  -ms-flex: 25%;
  flex: 25%;
  max-width: 80%;
  padding: 0 4px;
  margin-left: auto;
  margin-right: auto;
}

   .back-arrow{
    transform: rotate(0deg);
    width: 8%;
    margin-left: 10%;
    margin-top: 10%;
  }
  .aboutheading{
    font-size: 30px;
  }
  .information1{
    font-size: 25px;
  }
  .information2{
      font-size: 25px;
  }
  .information3{
      font-size: 25px;
  }
  .cvinfo{
      font-size: 25px;
  }
  .achievements{
    transition: color 0.3s ease-in-out;
    font-size: 25px;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    width: 85%;
    margin-left: 4%;
    background-color: #e7e5e5;
    box-shadow: 8px 8px grey;
    border-radius: 10px;
  }

  .informationsection{
    transition: color 0.3s ease-in-out;
    background-color: #e7e5e5;
    box-shadow: 8px 8px grey;
    border-radius: 10px;
    width: 85%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 4%;
  }
  .cvsection{
    transition: color 0.3s ease-in-out;
    margin-top: 3%;
    background-color: #e7e5e5;
    box-shadow: 8px 8px grey;
    border-radius: 10px;
    width: 85%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 4%;
  }
  .container {
    border-radius: 5px;
    background-color: #cec6c6;
    width: 85%;
    margin-left: 2%;
    box-shadow: 8px 8px grey;
  }
 }
